*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(232, 249, 250);
}

h2{
  text-align: center;
    margin: 30px;
    font-family: math;
    font-size: 50px;
    letter-spacing: 5px;
    word-spacing: 3px;
    color: darkblue;
}

.result{
    width: fit-content;
    border-radius: 8px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    line-height: 35px;
    box-shadow: 0px 0px 10px lightblue;
    padding: 60px;
   background-color: white;
}

.result:hover{
    transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

h3{
    font-size: 35px;
    background-color: white;
    text-align: center;
    padding-bottom: 7px;
    color: #347fbf;
    letter-spacing: 5px;
}
p{
    font-size: xx-large;
    background-color: white;
    margin: 20px;
    color: darkslategrey;
    font-family: emoji;
    padding: 10px;

}
strong{
        background-color: white;
    color: darkslateblue;
    letter-spacing: 2px;
    word-spacing: 2px;
}